body {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 13px;
	font-weight: 400;
	width: 500px;	
}
ol, ul {
	font-size: 13px;;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
h1 {
	font-weight: 300;
	font-size: 42px;
}
h2 {
	font-size: 20px;
}
.logo {
	padding: 20px 0;
	width: 500px;
	text-align: center;
}
.label {
	color: #111;
	font-weight: 400;
}
a {
	color: #3D99F0;
	text-decoration: none;
	font-size: 16px;
}
a:hover,
a.hover {
	color: #4c89c2;
	text-decoration: none;
}
button {
  border: 0;
  background: #3D99F0;
  padding: 6px 12px;
	line-height: 1.428571429;
  vertical-align: middle;
  color: #fff;
	border-radius: 3px;
  -webkit-appearance: button;
  cursor: pointer;
	font-size: 16px;
	margin-right: 15px;
}
button.btn-primary {
	background: #3D99F0;
}
button.btn-primary:hover,
button.btn-primary_hover {
	background: #4c89c2;
}
.ad-play-control .fa {
	border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 1.9;
	padding-left: 3px;
  background-color: white;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.23);
	text-align: center;
}
.ad-play-control .fa-backward {
	padding-left: 0;
	padding-right: 4px;
}
.ad-play-control .ad-off {
  color: #ccc !important;
  pointer-events: none;
  cursor: default;
}
.btn {
	border-radius: 2px;
}
.filter .btn {
	vertical-align: middle;
	color: #837c7c;
	height: 34px;
	width: 34px;
	background: #e6e5e5 4px 5px no-repeat;
	border-color: #dbdbdb;
	background-size: 22px 22px;
}
.filter .btn.show-answered_active {
	background: #fff 4px 5px no-repeat;
	background-image: url(images/show_answered_only.png);
	border-color: #3D99F0;
}
.filter .btn.show-answered_inactive {
	background-image: url(images/show_all.png);
}
span.filter-label {
  margin-right: 6px;
  color: #B6B6B6;
	font-size: 11px;
  font-weight: 500;
	text-transform: uppercase;
}
input[type=password], input[type=email], input[type=text]  {
  width: 60%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
	height: 34px;
	padding: 6px 12px;
	line-height: 1.42857143;
	font-size: 14px;
}
.form-control {
	box-shadow: none;
}
.input-group-addon {
	border-radius: 0;
	border: 1px solid #ddd;
	color: #555;
	background-color: #eee;
}
.picture {
	position: relative;
	width: 64px;
	height: 64px;
	margin: -5px 0 0;
	box-shadow: 0 0 2px 1px #b5b0b0;
	border-radius: 50%;
	z-index: 2;
}
.patient-picture {
  border: 2px solid white;
  border-left-color: #f94c43;
  border-right-color: #3d99f0;
  background-color: #e6e5e5;
  background-image: url("images/patient_icon_alt.png");
}
.pagination {
	margin: 0;
}
.fa-search.fa-search-corner {
	color: #FFFFFF;
	background-color: #cecaca;
	border-radius: 50%;
	font-size: 12px;
	padding: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.clear-search {
	position: absolute;
  top: 8px;
  right: 10px;
  color: #cecaca;
  font-size: 18px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-navigation .fa {
	color: #3d99f0;
	font-size: 19px;
	border-radius: 50%;
	padding: 5px;
	border: 3px solid #3d99f0;
}
.fa-long-arrow-left.no-more {
	color: #eeeded;
	border-color: #eeeded;
	cursor: default;
}
*::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
*:-moz-placeholder {
	/* FF 4-18 */
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
*::-moz-placeholder {
	/* FF 19+ */
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: #5b98cc;
  border-color: #5b98cc;
}
.pagination>li>a, .pagination>li>span {
	color: #5b98cc;
}

.ad-sprite {
	background: url("images/sprite.png") no-repeat top left;
	width: 64px;
	height: 65px;
}

.bookmarks {
	right: 0;
	bottom: 0;
	margin-bottom: 10px;
  position: fixed;
}

.bookmarks .main-button {
	background-position: 0 -1479px;
	border-radius: 50%;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
	display: inline-block;
	cursor: pointer;
}

.bookmarks ul {
	list-style: none;
	-webkit-transition: all 0.7s ease-out;
	       -moz-transition: all 0.7s ease-out;
	        -ms-transition: all 0.7s ease-out;
	         -o-transition: all 0.7s ease-out;
	            transition: all 0.7s ease-out;
}

.bookmarks ul li {
	list-style: none;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin: 4px;
	display: inline-block;
	opacity: 0;		
	cursor: pointer;
	-webkit-transition: all 0.7s ease-out;
	       -moz-transition: all 0.7s ease-out;
	        -ms-transition: all 0.7s ease-out;
	         -o-transition: all 0.7s ease-out;
	            transition: all 0.7s ease-out;
}

.bookmarks ul.bookmark-list {
  padding-left: 140px;
  width: 116px;
  box-sizing: content-box;
}
.bookmarks ul.questionnaire-list {
	margin: 0;
	display: -webkit-inline-box;
	margin-right: 6px;
	min-width: 160px;
}
.bookmarks ul.questionnaire-list li {
	background: url("images/questionnaire_bookmark.png") no-repeat center;
	border: 2px dotted #56A4EE;
}
.bookmarks ul.bookmark-list li.anamnesis {
  background-image: url("images/questionnaire_bookmark.png");
}
.bookmarks ul.bookmark-list li.adaptation {
  background-image: url("images/questionnaire_bookmark.png");
}
.bookmarks ul.bookmark-list li.patient {
  background-image: url("images/patient_bookmark.png");
}
.bookmarks ul.bookmark-list li.speech {
  background-image: url("images/speech_bookmark.png");
}
.bookmarks ul.bookmark-list li.tone {
  background-image: url("images/tone_bookmark.png");
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50%, 100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50%, 100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}




/* demo only, not part of Manahan style */

form {
	width: 300px;
}
label {
	display: block;
	padding-bottom: 0.5em;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}
.element {
	margin-bottom: 2em;
}
.input-group {

}
span.state {
	text-transform: uppercase;
	font-size: 11px;
	color: #aaa;
	font-weight: 400;
	margin-left: 13px;
}
[role=main] {
  max-width: 72em;
  margin: 0 auto;
  padding: 0.5em;
}
.title {
	font-size: 70%;
	margin: 5em 0 2em;
	font-weight: normal;
	padding: 1em 0;
	border-bottom: 1px solid gray;
}
ul.colours {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.colours li {
  overflow: hidden;
  border: 1px solid #dddddd;
  padding: 0.3em;
  margin: 0 0.2em 0.2em 0;
	float: left;
	width: 5em;
	text-align: center;
}
ul.colours li span {
	font-family: "Helvetica", "Arial", sans-serif;
}
ul.colours .swatch {
  width: 100%;
  height: 4em;
  margin-bottom: 0.2em;
	display: block;
}
ul.colours:after {
	clear: both;
}
p.primary,
p.secondary,
p.paragraph {
	line-height: 1;
}
